@import "tailwindcss";

html {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.85;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #e5e7eb;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
}

 @media (max-width: 768px) {
  aside {
    width: 100%;
  }
}


